HEYGEN_API_KEY=your_heygen_api_key_here

HEYGEN_AVATAR_ID=your_default_avatar_look_id
HEYGEN_VOICE_ID=your_default_voice_id

HEYGEN_ASPECT_RATIO=9:16
HEYGEN_RESOLUTION=1080p

MAX_CREDITS_PER_VIDEO=17
